.jumbotron.iphone-style {
    background-image: url(/photo/i-phone/iphone.png);
    width: 100%;
    background-position: center;
    min-width: 420px;
}

.jumbotron.iphone-style p {
    word-spacing: normal;
}

footer.footer-family.iphone-style {
    min-width: 420px;
}

#iphone4001 {
    width: 205px;
    height: 410px;
    background: url("/photo/i-phone/iphone_6s.jpeg") no-repeat;
    background-position: -322px -34px;
    margin: 0 auto;
}

#iphone4001 .iphone {
    border-radius: 30px;
}

#iphone4001:hover {
    background-position: none;
    background: none;
}

#iphone4001 .screen:hover {
    background-position: none;
    background: url(/photo/i-phone/show.jpg);
    background-size: cover;
}

#iphone4002 {
    width: 205px;
    height: 410px;
    background: url("/photo/i-phone/iphone_6s.jpeg") no-repeat;
    background-position: -108px -34px;
    margin: 0 auto;
}
